<link rel="stylesheet" href="/stylesheets/styles.css">

<div class="one-beer">
    <div class="image-div-beer">
        <img class="image-beer" src="{{this.image_url}}" alt="">
    </div>
    <p class="title">{{this.name}}</p>
    <p class="tagline">{{this.tagline}}</p>
    <p class="description">
        {{this.description}}
    </p>
</div>