<div class="index-container">

    <img class="image-HP" src="/images/beer.png" width=400px height=400px alt="">
    <div class="button-HP">
        <button class="button"><a class="button" href="../beers">Check the beers !</a></button>
        <button class="button"><a class="button" href="../random-beers">Check the random beers !</a></button>
    </div>
</div>