<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>

<body>
    <div id="body">
        <nav class="main_nav">
            <a class="link" href="/">Home</a>
            <a class="link" href="/beers">Beers</a>
            <a class="link" href="/random-beers">Random beer</a>
        </nav>
        <div class="all-beers">

            {{{ body }}}

        </div>
    </div>
    <footer class="footer">
        Develop by IronHack ;-
    </footer>
</body>

</html>